<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 输出目标定义 -->
    <target name="console" type="ColoredConsole" />
    <target name="file" type="File" fileName="logs/${shortdate}.log" />
  </targets>

  <rules>
    <!-- 日志路由规则 -->
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="Microsoft.*" minlevel="Warning" writeTo="file" />
  </rules>
</nlog>
